<!-- Navbar -->
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid px-lg-4">
    <a class="navbar-brand text-primary fw-semibold" routerLink="/">
      <!-- <i class="bi bi-bookmarks-fill"></i> -->
      NoteKeeper
    </a>
    <div class="d-flex gap-4">
      <a routerLink="/" class="nav-link">Início</a>
      <a routerLink="/categorias/listar" class="nav-link">Categorias</a>
      <a routerLink="/notas/listar" class="nav-link">Notas</a>
      <a routerLink="/" class="nav-link">Arquivadas</a>
    </div>
    </div>
  </nav>
  